{
    "extends": "airbnb",
    "envs": {
        node: "true"
    },
    "rules": {
        "semi": [1, "always"],
        "indent": [1, 4],
        "space-before-function-paren": [1, {"anonymous": "always", "named": "always"}],
        "no-console": 0,
        "padded-blocks": 0,
        "import/extensions": [1, "never", { "json": "always" }],
        "quotes": ["error", "single", { "allowTemplateLiterals": true, "avoidEscape": true }],
        "strict": 0
    }
}
